html{
    background-color: #372775;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.box{
    position: relative;
    bottom: 30px;
}

.infoBox:hover{
    box-shadow: 2px 2px 2px 2px black;
}

.infoBox{
    align-content: center;
    position: relative;
    left: 300px;
    box-sizing: border-box;
    background-color: #1c143c;
    margin: 10px;
    border-radius: 10px;
    padding: 0px 30px 0px 30px;
    width: 700px;
}